@import "tailwindcss";

@theme {
  --color-brand-gold: #C5A880;
  --color-brand-text: #12100e;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #12100e;
  background-color: #efe7e5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #efe7e5;
  color: #12100e;
}
