<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Do NOT rewrite backend API requests
  RewriteCond %{REQUEST_URI} ^/api [NC]
  RewriteRule ^ - [L]


  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>

